* {
  margin: 0;
  padding: 0;
}

.product {
  font-family: sans-serif;
  line-height: 1.5;
  width: 825px;
  border: 5px solid black;
  margin: 100px auto;
}
.product-title {
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f7f7f7;
}

.price {
  font-size: 20px;
}

.shipping {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: gray;
  margin-bottom: 20px;
}

.product-details {
  margin-top: 30px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.product-list {
  list-style: square;
  padding-left: 30px;
}
.product-list li {
  padding-bottom: 5px;
}

.product-info {
  padding-bottom: 5px;
}

.information-link,
.information-link:visited {
  text-align: center;
  color: #000;
  text-decoration: none;
}
.information-link:hover,
.information-link:active {
  text-decoration: underline;
}

.add-button {
  background-color: #000;
  border-top: 5px solid black;
  border-left: none;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px;
  width: 100%;
}

.add-button:hover,
.add-button:active {
  background-color: white;
  color: black;
  cursor: pointer;
}
